# Ignore virtual environments
/deployML

# Cache and tox files
.tox/
.mypy_cache/
__pycache__/
/.vscode
*.DS_Store

# Datasets
/deployHouseRegressionModel/housePriceModelling/houseregression_model/datasets
